* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Play', sans-serif;
}

.panel {
	width: 100%;
	padding-top: 20px;
}

.panel.resizable { 
	background: #fffacc; 
	position: relative; 
}

.panel .resizer { 
	width: 10px; 
	height: 10px; 
	background: blue; 
	position:absolute; 
	right: 0; 
	bottom: 0; 
	cursor: se-resize; 
}

.team {
	display: inline-block;
	width:49%;
	margin: auto;
	text-align: center;
}

.all, .image-holder {
	display: inline-block;
	width:98%;
	margin: auto;
	text-align: center;
}

img {
	width: 200px;
	height: auto;
}

p.timer, p.goals {
	font-size: 80px;
	padding-top: 20px;
}

p.teamName {
	font-size: 60px;
}

.controls .general, .controls .teams {
	display: flex;
  	justify-content: center;
}

.custom-button {
	cursor: pointer;
}

.controls .custom-button {
	width: 100px;
	height: 50px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	border: 2px solid black;
	border-radius: 8px;
	text-align: center
}

.controls input {
	width: 100px;
	height: 50px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	border: 2px solid black;
	border-radius: 8px;
	text-align: center
}

.controls .goal-counter {
	background: #65bb44;
}

.controls .goal-uncounter {
	background: #e46767;
}

.controls .general .custom-button {
	background: #f9e853;
}

/*Animation*/
.center-logo-animation {
	animation: moveLogo 6s;
}

@keyframes moveLogo {
	20% { transform: scale(1.1) translate(0%,22%); }
	80% { transform: scale(1.1) translate(0%,22%); }
}

.center-name-animation {
	animation: moveName 6s;
}

@keyframes moveName {
	20% { transform: scale(1.1) translate(0%,80%); }
	80% { transform: scale(1.1) translate(0%,80%); }
}

.add-goal-home-animation {
	animation: grow-home 6s;
}

@keyframes grow-home {
	20% { transform: scale(3) translate(17%,-35%); }
	80% { transform: scale(3) translate(17%,-35%); }
}

.add-goal-guest-animation {
	animation: grow-guest 6s;
}

@keyframes grow-guest {
	20% { transform: scale(3) translate(-17%,-35%); }
	80% { transform: scale(3) translate(-17%,-35%); }
}